body{
    text-align: center;
    background-color: #283149;
    
}
h1{
    font-size: 5rem;
    color: #dbedf3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 0 #DA0463;
}

